header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0 50px;
}

header button {
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}

header button:hover {
  background-color: #ff0000;
  transform: scale(1.1);
}