section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 15px auto;
    width: 90%;
    height: 400px;
    padding: 0 15px;
    /* border: 1px solid #ccc; */
}